/* nav pieces */
.header {
    background: rgba(37,14,57,0.9);
    padding: 16px 0px 17px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}
.layout {
    margin: auto;
    max-width: 1440px;
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.staticNav {
    display: flex;
    flex-direction: row;
}
.logo_side {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
#menu {
    flex-direction: row;
    display: flex;
}
#menu li {
    line-height: 40px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    width: 100px;
}
#menu a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
#menu1 {
    right: 300px;
}
#menu2 {
    right: 150px;
}
#menu3 {
    margin: 0 auto;
    text-align: center;
}
.dropdown-list{
    display: none;
    position: absolute;
    right: 25px;
    top: 60px;
    background: rgba(37,14,57,0.9);
    width: 150px;
    list-style: none;
    padding: 0;
}

/* spacers */
.spacer-100 {
    height: 100px;
    width: 100%;
}

/* buttons and inputs */
button {
    width: 75px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    height: 30px;
    margin: 5px;
}
.input--normal {
    width: 350px;
    height: 32px;
    font-size: 23px;
    padding: 0px;
    margin-bottom: 5px;
}
.input--large {
    padding: 0px;
    width: 700px;
    height: 400px;
    flex: none;
    font-size: 23px;
}

/* everything div */
#everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* info divs */
#home {
    width: 80%;
    font-size: 25px;
}
#about {
    display: none;
    flex-direction: column;
    width: 80%;
    font-size: 25px;
}
#login {
    display: none;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
#more1 {
    display: none;
    flex-direction: column;
    width: 80%;
}
#more2 {
    display: none;
    flex-direction: column;
    width: 80%;
}
#more3 {
    display: none;
    flex-direction: column;
    width: 80%;
}