/* nav styles */
.header {
    background: rgba(37,14,57,0.9);
    padding: 16px 0px 17px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
}
.layout {
    margin: auto;
    max-width: 1440px;
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body {
    background-color: rgb(245,245,245);
}
.staticNav {
    display: flex;
    flex-direction: row;
}
.logo {
    margin-top: 5px;
}
.capturelogo {
    height: 100%;
    width: 199px;
    margin-left: 20px;
}
.logo_side {
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    margin-left: 30px;
}
#menu {
    flex-direction: row;
    display: flex;
}
#menu li {
    line-height: 40px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
    width: 150px;
    border-radius: 10px;
}
#menu li:hover {
    background: rgba(37,14,57,0.9);
}
#menu li:active {
    background: grey;
}
#menu a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
#menu1 {
    right: 300px;
}
#menu2 {
    right: 150px;
}
#menu3 {
    margin: 0 auto;
    text-align: center;
}
.dropdown-list{
    display: none;
    position: absolute;
    right: 10px;
    top: 60px;
    background: rgba(37,14,57,0.9);
    width: 175px;;
    list-style: none;
    padding: 0;
}
/* end nav styles */

/* spacers */
.spacer-100 {
    height: 100px;
    width: 100%;
}
/* end spacers */

/* buttons and inputs */
button {
    width: 75px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
    height: 30px;
    margin: 5px;
}
.input--normal {
    width: 350px;
    height: 32px;
    font-size: 23px;
    padding: 0px;
    margin-bottom: 5px;
}
.input--large {
    padding: 0px;
    width: 700px;
    height: 400px;
    flex: none;
    font-size: 23px;
}
.loginButton {
    margin-top: 20px;
    margin-bottom: 20px;
}
.loginButton:hover {
    background: lightgrey;
}
.loginButton:active {
    background: lightgreen;
}
.submitButton {
    background: lightgreen;
}
.submitButton:hover {
    background: green;
}
.submitButton:active {
    background: white;
}
/* end buttons and inputs */

#everything {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* info divs */
#about {
    flex-direction: column;
    width: 80%;
    font-size: 19px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.captureLogo {
    height: 100px;
    width: 200px;
}
#more1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}
#more2 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}
#more3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
}
/* end info divs */

/* login styles */
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.loginBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px;
}
.loginInfo {
    width: 500px;
    margin-top: 20px;
}
.loginInputs {
    flex-direction: column;
}
.loginInputs--title {
    margin-bottom: 5px;
}
.loginInputs--input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid darkgrey;
    width: 300px;
    height: 30px;
    font-size: 22px;
    background-color: #F5F5F5;
}
/* end login styles */